# Vercel
.vercel

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/
.babelrc
.cache

# Dependency directories
server/node_modules/
client/node_modules/

# IDE / Editor files
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db

# Other
*.bak
*.tmp
